
/* btn 样式 */
.x-btn {
    cursor: pointer;
    /* width: 35%; */
    align-self: center;
    padding: 0.25rem 0.5rem;
    margin: 0.6rem 0;
    border: 1px solid #ececec;
    border-radius: 0.2rem;
    /* box-shadow: 1px 1px 3px #777; */
    background-color: #6cbdfc;
    color: white;
}
.x-btn:hover {
    background-color: #60cfac;
}

/* 两个 btn 占据一行的样式 */
.x-double-btn {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    background-color: white;
    border: 1px solid #eee;
}

.x-double-btn>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0.3rem 0;
    cursor: pointer;
}

.x-double-btn>div:hover {
    background-color: #eee;
}


/* 展示面板的样式 */
.x-next-show-el {
    position: absolute;
    width: 3.5rem;
    right: 0;
    transform: translate(1.5rem, 0);
    -ms-transform: translate(1.5rem, 0);
    -moz-transform: translate(1.5rem, 0);
    -webkit-tranform: translate(1.5rem, 0);
    -o-transform: translate(1.5rem, 0);
    z-index: 999;
    background-color: #eee;
    box-shadow: 1px 2px 3px #aaa;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .x-show-on-phone {
        display: flex !important;
    }
    .x-show-on-pc-inline-block  {
        display: none !important;
    }
}
@media screen and (min-width: 960px) {
    .x-show-on-phone {
        display: none !important;
    }
    .x-show-on-pc-inline-block {
        display: inline-block !important;
    }
}