.root {
    display: flex;
    flex-direction: row;
    margin: 8 0;
    padding: 8px 25px;
    align-items: baseline;
}
.rootFixed {
    font-weight: bold;
}
.label {
    font-size: 14px;
    color: #777;
    margin-right: 8px;
}

.label::after {
    content: ":";
}

.input {
    margin: 0;
    padding: 8px 5px;
    margin: 0;
}