
.root {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin: 8 0;
    padding: 8px 0px;
    align-items: baseline;
    width: 100%;
    /* flex-direction: row;
    justify-content: center; */
    box-sizing: border-box;
}

.rootFixed {
    font-weight: bold;
}

.root * {
    box-sizing: border-box;
}


.label {
    font-size: 16px;
    color: #777;
    /* margin-right: 8px; */
    width: 100%;
    text-align: center;
}

.input {
    font-size: 14px;
    margin: 0;
    padding: 3px 5px;
    margin: 0;
    /* border-radius: 5px; */
    width: 60%;
    outline: none;
    border: 1px solid #cecece;
    /* box-shadow: 1px 1px 1px white,
        -1px -1px 1px white; */
    transition: border-color .25s ease-in-out 0s;
}

.input:focus {
    border-color: rgb(0, 107, 230);
}
.input:hover {
    border-color: #006be6;
    /* box-shadow: 1px 1px 1px rgb(0, 107, 255),
        -1px -1px 1px rgb(0, 107, 255); */
}